@charset "UTF-8";

body {
    background-color: #ffffff;
}

header {
    text-align: center;
}

.card {
    background-color: #ffffff;
    border: 1px dashed;
    border-radius: 10px;
    width: 100%;
}

#ideas {
    background-color: #c7ecff;
}

#to-do {
    background-color: #ffc7c7;
}

#in-progress {
    background-color: #ffe7c7;
}

#finished {
    background-color: #c7ffdb;
}
