<!doctype HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/toast.css" rel="stylesheet">
        <link href="static/css/kanbanale.css" rel="stylesheet">
        <title><%= board['title'] %></title>
    </head>
    <body>
        <div class="grid">
            <div class="grid__col grid__col--2-of-2" ><header><h1><%= board['title'] %></h1></header>
            </div>
            <% columns = board['sections'] %>
            <% columns.each do |column| %>
                <% column_name = column.keys.first %>
                <div class="grid__col grid__col--1-of-<%= columns.length %>" id="<%= column_name.downcase.gsub(' ', '-') %>">
                    <h2><%= column_name %></h2>
                    <% cards = column.values.first['cards'] %>
                    <% if cards.class == String %>
                      <div class="card"><%= cards %></div>
                    <% elsif cards.class == Array %>
                      <% cards.each do |card| %>
                          <div class="card"><%= card %></div>
                      <% end %>
                    <% end %>
                </div>
             <% end %>
        </div>
    </body>
</html>
